# Locale and keyboard
d-i debian-installer/locale string en_US.UTF-8
d-i keyboard-configuration/xkb-keymap select us

# Network identity
d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string debian
d-i netcfg/get_domain string lan

# Mirror
d-i mirror/country string manual
d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

# Account setup
d-i passwd/root-login boolean false
d-i passwd/user-fullname string installer
d-i passwd/username string installer
d-i passwd/user-password password installer
d-i passwd/user-password-again password installer
d-i user-setup/allow-password-weak boolean true

# Time
d-i clock-setup/utc boolean true
d-i time/zone string Etc/UTC
d-i clock-setup/ntp boolean true

# Partitioning: GPT + EFI partition + single Btrfs root partition
# EFI partition is required for UEFI boot. Root is a single Btrfs partition.
d-i partman/early_command string \
    /bin/sh -eux /cdrom/installer-hooks/partman-early.sh
d-i partman-partitioning/default_label string gpt
d-i partman-auto/method string regular
d-i partman-auto/choose_recipe select btrfs-root
d-i partman-auto/expert_recipe string                         \
      btrfs-root ::                                           \
              538 538 1075 free                               \
                      $iflabel{ gpt }                         \
                      $reusemethod{ }                         \
                      method{ efi } format{ }                 \
              .                                               \
              4096 10000 -1 btrfs                             \
                      $primary{ }                             \
                      method{ format } format{ }              \
                      use_filesystem{ } filesystem{ btrfs }   \
                      mountpoint{ / }                         \
              .
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman-basicfilesystems/no_swap boolean false
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

# Base packages and bootloader
tasksel tasksel/first multiselect standard
d-i pkgsel/include string openssh-server btrfs-progs snapper sudo
popularity-contest popularity-contest/participate boolean false
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true

# Enable Btrfs snapshot tooling
d-i preseed/late_command string \
    /bin/sh -eux /cdrom/installer-hooks/preseed-late.sh

# Finish
d-i finish-install/reboot_in_progress note
